<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Race Prediction Model</h1>
    </header>
    <form action="{{ url_for('predict')}}" method="POST">
        <legend>Please enter the following scores:</legend>

        <label for="reading_score">Reading Score:</label>
        <input type="text" name="reading_score" id="reading_score" required>

        <label for="math_score">Math Score:</label>
        <input type="text" name="math_score" id="math_score" required>

        <label for="writing_score">Writing Score:</label>
        <input type="text" name="writing_score" id="writing_score" required>

        <br>
        <input type="submit" value="Submit">
   </form>
   <p>{{ predict }}</p>
    <footer>
        <p>Kurt Grothe, 2023</p>
    </footer>
</body>
</html>
