<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Classification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Breast Cancer Classification</h1>
    </header>
    <form action="{{ url_for('predict')}}" method="POST">
        <legend>Please enter the following measurements:</legend>

        <label for="perimeter_worst">perimeter_worst:</label>
        <input type="text" name="perimeter_worst" id="perimeter_worst" required>

        <label for="radius_worst">radius_worst:</label>
        <input type="text" name="radius_worst" id="radius_worst" required>

        <label for="concave_points_mean">concave_points_mean:</label>
        <input type="text" name="concave_points_mean" id="concave_points_mean" required>

        <label for="area_worst">area_worst:</label>
        <input type="text" name="area_worst" id="area_worst" required>
        <br>
        <input type="submit" value="Submit">
   </form>
   <p>{{ predict }}</p>
    <footer>
        <p>Kurt Grothe, 2023</p>
    </footer>
</body>
</html>
