<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris Classification</title>
</head>
<body>
    <form action="{{ url_for('predict')}}" method="POST">
        perimeter_worst:  <input type="number" name="perimeter_worst"></br>
        radius_worst:   <input type="number" name="radius_worst"></br>
        concave_points_mean:  <input type="number" name="concave_points_mean"></br>
        area_worst:   <input type="number" name="area_worst"></br>
        perimeter_mean:  <input type="number" name="perimeter_mean"></br>
        area_mean:   <input type="number" name="area_mean"></br>
        radius_mean:  <input type="number" name="radius_mean"></br>
        area_se:   <input type="number" name="area_se"></br>
        concavity_worst:  <input type="number" name="concavity_worst"></br>
        radius_se:   <input type="number" name="radius_se"></br>
        compactness_worst:  <input type="number" name="compactness_worst"></br>
        perimeter_se:   <input type="number" name="perimeter_se"></br>
        compactness_mean:  <input type="number" name="compactness_mean"></br>



        <input type=submit value=Submit>
   </form>
    My final prediction: {{ predict }}
</body>
</html>
